* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-body-tertiary {
  background-color: transparent !important;
}

.Home {
  width: 100%;
  height: 93vh;
  background-color: #335746;
}

/* .Home .nav_bar .container .navbar-brand .nav_dot{
    color: gray;
    font-size: 2rem;
} */

.Home .nav_bar .container {
  font-family: "Inter", sans-serif !important;
}
.Home .nav_bar .container a span {
  font-size: 5px;
}

.Home .nav_bar .container .collapse ul li a:hover {
  --bs-text-opacity: 1 !important;
}

.Home .nav_bar .container .collapse ul li a {
  /* font-weight: 600; */
  transition: 0.3s;
  position: relative;
}
.collapse .navbar-nav .li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 8px;
  right: 8px;
  background: #f9bf29;
  height: 5px;
  opacity: 1;
}

.Home .nav_bar .container .collapse ul li a::after {
  content: "";
  width: 0%;
  height: 5px;
  transition: all 0.3s;
  background-color: #f9bf29;
  position: absolute;
  left: 4px;
  right: auto;
  bottom: -0px;
}

.Home .nav_bar .container .collapse ul .li_a a:hover::after {
  width: 90%;
}

.content {
  width: 87%;
  margin: auto;
  display: flex;
  /* background-color: #f9bf29; */
  height: 75vh;
  position: relative;
}

.content .R {
  width: 40%;
  /* background-color: aqua; */
  height: 75vh;
}

.content .R .txt {
  margin-top: 100px;
}

.content .R .txt h1 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: white;
}
.content .R .txt p {
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin-bottom: 25px;
}

.content .R .btn_1 {
  border: none;
  padding: 10px 30px;
  background-color: #f9bf29;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  transition: all 0.3s;
}

.content .R .btn_1:hover {
  background-color: rgb(255, 221, 32);
}

.content .R .btn_2 {
  border-color: gray;
  padding: 10px 30px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  transition: all 0.3s;
  color: white;
}

.content .R .btn_2:hover {
  border-color: white;
}

.content .L {
  width: 60%;
  position: relative;
}
.content .BG_L {
  background-image: url(../img/dots-green.svg);
  background-repeat: no-repeat;
  background-position: 455px 50px;
}

.content .L .BG_L img {
  width: 100%;
}
.content .BG_L {
  animation: moveRight 2s ease forwards;
}
@keyframes moveRight {
  from {
    background-position: left center;
  }
  to {
    background-position: 455px 50px;
  }
}

.material {
  width: 100%;
  background-color: rgb(235, 244, 235);
  height: auto;
}
.material .width {
  width: 87%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* background-color: black; */
}

.material .width .dvid {
  width: 22%;
  /* background-color: aqua; */
}
.material .width .dvid .txt {
  margin-top: 150px;
  font-family: "Inter", sans-serif;
}

.material .width .dvid .txt .dw {
  width: 120%;
  color: gray;
  line-height: 2;
  font-size: 16px;
}

.material .width .dvid .txt p a button {
  border: none;
  padding: 10px 30px;
  background-color: rgb(40, 40, 40);
  font-family: "Inter", sans-serif;
  font-weight: bold;
  transition: all 0.3s;
  color: white;
}

.material .width .dvid .txt p a button:hover {
  background-color: rgb(0, 0, 0);
}

.material .width .dvid_2 {
  width: 20%;
  /* background-color: aquamarine; */
  cursor: pointer;
  position: relative;
}

.material .width .dvid_2 .img img {
  transition: all 0.5s;
  margin-top: 150px;
  width: 100%;
}

.material .width .dvid_2 .txt {
  text-align: center;
  margin-top: 50px;
  line-height: 2;
  font-family: "Inter", sans-serif;
  font-weight: bold;
}

.material .width .dvid_2 .icon_BG {
  font-size: 35px;
  opacity: 0;
  transition: all 0.3s;
  position: absolute;
  top: 480px;
  left: 90px;
}

.material .width .dvid_2:hover .img img {
  transform: translate(0px, -20px);
}
.material .width .dvid_2:hover .icon_BG {
  opacity: 1;
  transform: rotate(180deg);
  position: absolute;
  top: 500px;
  left: 90px;
}

.us {
  width: 100%;
  background-color: rgb(235, 244, 235);
  height: auto;
}

.us .width {
  width: 87%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 150px;
}

.us .width .R {
  width: 50%;
}

.us .width .R .txt {
  margin-top: 250px;
  font-family: "Inter", sans-serif;
}

.us .width .R .txt p {
  color: gray;
  font-size: 14px;
  line-height: 2;
}

.us .width .R .rr {
  width: 50%;
  margin-top: 50px;
}

.us .width .R .rr .title {
  margin-bottom: 50px;
}
.us .width .R .rr .title .fa-truck {
  font-size: 30px;
  margin-bottom: 20px;
}

.us .width .R .rr .title .s {
  color: gray;
}

.us .width .R .rl {
  width: 50%;
  margin-top: 50px;
}

.us .width .R .r {
  display: flex;
  justify-content: space-between;
}

.us .width .R .rl .title {
  margin-bottom: 50px;
}
.us .width .R .rl .title .fa-truck {
  font-size: 30px;
  margin-bottom: 20px;
}

.us .width .R .rl .title .s {
  color: gray;
}

.us .width .L {
  width: 50%;
  margin-top: 190px;
  background-image: url(../img/dots-yellow.svg);
  background-repeat: no-repeat;
}

.us .width .L .img {
  width: 80%;
  position: relative;
}
.us .width .L .img img {
  width: 100%;
  border-radius: 20px;
  position: absolute;
  top: 80px;
  left: 100px;
}

.help {
  width: 100%;
  background-color: rgb(235, 244, 235);
  height: auto;
}
.help .all {
  width: 100%;
  background-image: url(../img/dots-green.svg);
  background-repeat: no-repeat;
}
.help .all .width {
  width: 87%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.help .all .width .R {
  width: 60%;
}
.help .all .width .R .imges {
  width: 100%;
  position: relative;
}

.help .all .width .R .imges .img {
  width: 70%;
  transform: translate(5px, 80px);
  border-radius: 5%;
  z-index: -1;
}

.help .all .width .R .imges .img2 {
  width: 30%;
  transform: translate(480px, -580px);
  border-radius: 5%;
}
.help .all .width .R .imges .img3 {
  width: 50%;
  transform: translate(150px, -250px);
  border-radius: 5%;
}
.help .all .width .L {
  width: 40%;
}

.help .all .width .L .txt {
  margin-left: 40px;
  margin-top: 80px;
}

.help .all .width .L .txt p {
  width: 100%;
  color: gray;
  line-height: 2;
  font-size: 16px;
}

.help .all .width .L .ul {
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
  margin-top: 10px;
}
.help .all .width .L .ul ul {
  list-style-type: circle;
  font-size: 16px;
}
.help .all .width .L .ul ul li::marker {
  font-size: 1.5em; /* bullet size */
  color: gray;
}
.help .all .width .L .ul ul li {
  margin-bottom: 20px;
  color: rgb(99, 99, 99);
}

.help .all .width .L .btn {
  margin-left: 30px;
  margin-top: 10px;
}

.help .all .width .L .btn .btn_1 {
  border: none;
  background-color: rgb(45, 45, 45);
  padding: 10px 30px;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  transition: all 0.3s;
  color: white;
}

.help .all .width .L .btn .btn_1:hover {
  background-color: black;
}

.help .container .row .col-lg-4 .img {
  position: relative;
}

.help .container .row .col-lg-4 .img .bg {
  background-color: #dce5e4;
  width: 100%;
  height: 90%;
  border-radius: 10%;
}

.help .container .row .col-lg-4 .img img {
  position: absolute;
  top: 0px;
  left: 0px;
}

.text-secondary {
  width: 75%;
  margin: auto;
  /* background-color: black
    ; */
}
.opop {
  width: 7%;
  /* background-color: aqua; */
}

.ll {
  margin-top: 150px;
  width: 7%;
  height: 20%;
  color: black;
  background-color: #909492;
}

.carousel-indicators [data-bs-target] {
  background-color: #bbb;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #335746;
}

.Blog {
  width: 87%;
  margin: auto;
  padding-top: 150px;
  padding-bottom: 200px;
}

.Blog .imges img {
  border-radius: 5%;
}
.Blog .imges img:hover {
  cursor: pointer;
}

.foot {
  width: 87%;
  margin: auto;
  margin-top: 120px;
}

.foot .contener{
    height: 150px;
}

.foot .row .R .txt i {
  color: #909492;
  margin-right: 5px;
}
.foot .row .R .txt p {
  font-size: 20px;
}

.form-control {
  height: 50px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}

.row button {
  padding: 10px 25px;
}

.L_2 .ime img {
  transform: translate(150px, -250px); /* 50px right, 20px down */
}

.foot .text a {
  color: #335746;
  text-decoration: none;
  font-size: 40px;
  font-family: "Inter", sans-serif !important;
}

.border-0 {
  padding: 5px 7px !important;
  margin: 0px 20px;
  background-color: #e6e6e6;
}

.list-group-item a {
  font-size: 14px !important;
  transition: all 0.3s;
}
.list-group-item a:hover {
  color: #909492;
}

.list-group-item {
  /* margin-top: 20px; */
  margin-bottom: 15px;
}
.foot ul {
  margin-top: 70px;
}




.cont p{
    color: #909492;
  font-family: "Inter", sans-serif !important;
  font-size: 14px;

}



.cont p a {
    color: black;
    text-decoration: none;
  font-size: 14px !important;
  transition: all 0.3s;
}
.cont p a:hover {
  color: #909492;
}

.cont a {
    color: black;
    text-decoration: none;
  font-size: 14px !important;
  transition: all 0.3s;
}
.cont a:hover {
  color: #909492;
}



.us .team{
    width: 87%;
    margin: auto;
}


.us .team a{
    color: black;
}
.us .team a:hover{
    text-decoration: none;
}
.us .team p{
    color: gray;
}



.material .icon_s{
    width: 87%;
    margin: auto;
}




.contact-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 30px;
}

.info-box {
  display: flex;
  align-items: center;
  gap: 15px;
  flex: 1;
}

.icon {
  background-color: #2f4f3f;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form .row {
  display: flex;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.contact-form button {
  background-color: #222;
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
}

.contact-form button:hover {
  background-color: #444;
}
